* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px 0 45px 0;
  font-family: system-ui;
  background-color: #f4f4f4;
  color: #476584;
  font-family: helvetica;
}

header {
  /* background: #476584; */
  background-color: rgba(71, 101, 132, 0.9);
  color: #f4f4f4;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px; */
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

h1 {
  width: 30%;
  padding: 10px;
}

section {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

#img1 {
  border-radius: 50%;
}

#github {
  width: 40px;
}

footer {
  display: flex;
  justify-content: center;
}
